# Pandas Lesson
This lesson shows how to use the pandas library.

In [2]:
# Pandas works with tabular data.

In [3]:
import pandas as pd

In [5]:
periodic_data = pd.read_csv("PubChemElements_all.csv")

In [6]:
periodic_data

,AtomicNumber,Symbol,Name,AtomicMass,CPKHexColor,ElectronConfiguration,Electronegativity,AtomicRadius,IonizationEnergy,ElectronAffinity,OxidationStates,StandardState,MeltingPoint,BoilingPoint,Density,GroupBlock,YearDiscovered
0,1,H,Hydrogen,1.008000,FFFFFF,1s1,2.20,120.0,13.598,0.754,"+1, -1",Gas,13.81,20.28,0.000090,Nonmetal,1766
1,2,He,Helium,4.002600,D9FFFF,1s2,NaN,140.0,24.587,NaN,0,Gas,0.95,4.22,0.000179,Noble gas,1868
2,3,Li,Lithium,7.000000,CC80FF,[He]2s1,0.98,182.0,5.392,0.618,+1,Solid,453.65,1615.00,0.534000,Alkali metal,1817
3,4,Be,Beryllium,9.012183,C2FF00,[He]2s2,1.57,153.0,9.323,NaN,+2,Solid,1560.00,2744.00,1.850000,Alkaline earth metal,1798
4,5,B,Boron,10.810000,FFB5B5,[He]2s2 2p1,2.04,192.0,8.298,0.277,+3,Solid,2348.00,4273.00,2.370000,Metalloid,1808
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
113,114,Fl,Flerovium,290.192000,NaN,[Rn]7s2 7p2 5f14 6d10 (predicted),NaN,NaN,NaN,NaN,"6, 4,2, 1, 0",Expected to be a Solid,NaN,NaN,NaN,Post-transition metal,1998
114,115,Mc,Moscovium,290.196000,NaN,[Rn]7s2 7p3 5f14 6d10 (predicted),NaN,NaN,NaN,NaN,"3, 1",Expected to be a Solid,NaN,NaN,NaN,Post-transition metal,2003
115,116,Lv,Livermorium,293.205000,NaN,[Rn]7s2 7p4 5f14 6d10 (predicted),NaN,NaN,NaN,NaN,"+4, +2, -2",Expected to be a Solid,NaN,NaN,NaN,Post-transition metal,2000
116,117,Ts,Tennessine,294.211000,NaN,[Rn]7s2 7p5 5f14 6d10 (predicted),NaN,NaN,NaN,NaN,"+5, +3, +1, -1",Expected to be a Solid,NaN,NaN,NaN,Halogen,2010
117,118,Og,Oganesson,295.216000,NaN,[Rn]7s2 7p6 5f14 6d10 (predicted),NaN,NaN,NaN,NaN,"+6, +4, +2, +1, 0, -1",Expected to be a Gas,NaN,NaN,NaN,Noble gas,2006

In [7]:
# Preview the first five rows
periodic_data.head()

,AtomicNumber,Symbol,Name,AtomicMass,CPKHexColor,ElectronConfiguration,Electronegativity,AtomicRadius,IonizationEnergy,ElectronAffinity,OxidationStates,StandardState,MeltingPoint,BoilingPoint,Density,GroupBlock,YearDiscovered
0,1,H,Hydrogen,1.008000,FFFFFF,1s1,2.20,120.0,13.598,0.754,"+1, -1",Gas,13.81,20.28,0.000090,Nonmetal,1766
1,2,He,Helium,4.002600,D9FFFF,1s2,NaN,140.0,24.587,NaN,0,Gas,0.95,4.22,0.000179,Noble gas,1868
2,3,Li,Lithium,7.000000,CC80FF,[He]2s1,0.98,182.0,5.392,0.618,+1,Solid,453.65,1615.00,0.534000,Alkali metal,1817
3,4,Be,Beryllium,9.012183,C2FF00,[He]2s2,1.57,153.0,9.323,NaN,+2,Solid,1560.00,2744.00,1.850000,Alkaline earth metal,1798
4,5,B,Boron,10.810000,FFB5B5,[He]2s2 2p1,2.04,192.0,8.298,0.277,+3,Solid,2348.00,4273.00,2.370000,Metalloid,1808

In [9]:
# Preview the first ten rows
periodic_data.head(10)

,AtomicNumber,Symbol,Name,AtomicMass,CPKHexColor,ElectronConfiguration,Electronegativity,AtomicRadius,IonizationEnergy,ElectronAffinity,OxidationStates,StandardState,MeltingPoint,BoilingPoint,Density,GroupBlock,YearDiscovered
0,1,H,Hydrogen,1.008000,FFFFFF,1s1,2.20,120.0,13.598,0.754,"+1, -1",Gas,13.81,20.28,0.000090,Nonmetal,1766
1,2,He,Helium,4.002600,D9FFFF,1s2,NaN,140.0,24.587,NaN,0,Gas,0.95,4.22,0.000179,Noble gas,1868
2,3,Li,Lithium,7.000000,CC80FF,[He]2s1,0.98,182.0,5.392,0.618,+1,Solid,453.65,1615.00,0.534000,Alkali metal,1817
3,4,Be,Beryllium,9.012183,C2FF00,[He]2s2,1.57,153.0,9.323,NaN,+2,Solid,1560.00,2744.00,1.850000,Alkaline earth metal,1798
4,5,B,Boron,10.810000,FFB5B5,[He]2s2 2p1,2.04,192.0,8.298,0.277,+3,Solid,2348.00,4273.00,2.370000,Metalloid,1808
5,6,C,Carbon,12.011000,909090,[He]2s2 2p2,2.55,170.0,11.260,1.263,"+4, +2, -4",Solid,3823.00,4098.00,2.267000,Nonmetal,Ancient
6,7,N,Nitrogen,14.007000,3050F8,[He] 2s2 2p3,3.04,155.0,14.534,NaN,"+5, +4, +3, +2, +1, -1, -2, -3",Gas,63.15,77.36,0.001251,Nonmetal,1772
7,8,O,Oxygen,15.999000,FF0D0D,[He]2s2 2p4,3.44,152.0,13.618,1.461,-2,Gas,54.36,90.20,0.001429,Nonmetal,1774
8,9,F,Fluorine,18.998403,90E050,[He]2s2 2p5,3.98,135.0,17.423,3.339,-1,Gas,53.53,85.03,0.001696,Halogen,1670
9,10,Ne,Neon,20.180000,B3E3F5,[He]2s2 2p6,NaN,154.0,21.565,NaN,0,Gas,24.56,27.07,0.000900,Noble gas,1898

In [10]:
# Preview the last five rows.
periodic_data.tail()

,AtomicNumber,Symbol,Name,AtomicMass,CPKHexColor,ElectronConfiguration,Electronegativity,AtomicRadius,IonizationEnergy,ElectronAffinity,OxidationStates,StandardState,MeltingPoint,BoilingPoint,Density,GroupBlock,YearDiscovered
113,114,Fl,Flerovium,290.192,NaN,[Rn]7s2 7p2 5f14 6d10 (predicted),NaN,NaN,NaN,NaN,"6, 4,2, 1, 0",Expected to be a Solid,NaN,NaN,NaN,Post-transition metal,1998
114,115,Mc,Moscovium,290.196,NaN,[Rn]7s2 7p3 5f14 6d10 (predicted),NaN,NaN,NaN,NaN,"3, 1",Expected to be a Solid,NaN,NaN,NaN,Post-transition metal,2003
115,116,Lv,Livermorium,293.205,NaN,[Rn]7s2 7p4 5f14 6d10 (predicted),NaN,NaN,NaN,NaN,"+4, +2, -2",Expected to be a Solid,NaN,NaN,NaN,Post-transition metal,2000
116,117,Ts,Tennessine,294.211,NaN,[Rn]7s2 7p5 5f14 6d10 (predicted),NaN,NaN,NaN,NaN,"+5, +3, +1, -1",Expected to be a Solid,NaN,NaN,NaN,Halogen,2010
117,118,Og,Oganesson,295.216,NaN,[Rn]7s2 7p6 5f14 6d10 (predicted),NaN,NaN,NaN,NaN,"+6, +4, +2, +1, 0, -1",Expected to be a Gas,NaN,NaN,NaN,Noble gas,2006

In [11]:
periodic_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 118 entries, 0 to 117
Data columns (total 17 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   AtomicNumber           118 non-null    int64
 1   Symbol                 118 non-null    object
 2   Name                   118 non-null    object
 3   AtomicMass             118 non-null    float64
 4   CPKHexColor            108 non-null    object
 5   ElectronConfiguration  118 non-null    object
 6   Electronegativity      95 non-null     float64
 7   AtomicRadius           99 non-null     float64
 8   IonizationEnergy       102 non-null    float64
 9   ElectronAffinity       57 non-null     float64
 10  OxidationStates        117 non-null    object
 11  StandardState          118 non-null    object
 12  MeltingPoint           103 non-null    float64
 13  BoilingPoint           93 non-null     float64
 14  Density                96 non-null     float64
 15  GroupBlock             118 non-null    object
 16  YearDiscovered         118 non-null    object
dtypes: float64(8), int64(1), object(8)
memory usage: 15.8+ KB

In [13]:
periodic_data.describe()
# statistics about data

,AtomicNumber,AtomicMass,Electronegativity,AtomicRadius,IonizationEnergy,ElectronAffinity,MeltingPoint,BoilingPoint,Density
count,118.000000,118.000000,95.000000,99.000000,102.000000,57.000000,103.000000,93.000000,96.000000
mean,59.500000,146.564645,1.732316,209.464646,7.997255,1.072140,1273.740553,2536.212473,7.608001
std,34.207699,89.785686,0.635187,38.569130,3.339066,0.879163,888.853859,1588.410919,5.878692
min,1.000000,1.008000,0.700000,120.000000,3.894000,0.079000,0.950000,4.220000,0.000090
25%,30.250000,66.480000,1.290000,187.000000,6.020500,0.470000,516.040000,1180.000000,2.572500
50%,59.500000,142.573850,1.620000,209.000000,6.960000,0.754000,1191.000000,2792.000000,7.072000
75%,88.750000,226.777165,2.170000,232.000000,8.998500,1.350000,1806.500000,3618.000000,10.275250
max,118.000000,295.216000,3.980000,348.000000,24.587000,3.617000,3823.000000,5869.000000,22.570000

## Accessing Data

In [15]:
# To slice a pandas dataframe using row and column numbers
# dataframe_name.iloc[row_slice, column_slice]

periodic_data.iloc[35]

AtomicNumber                           36
Symbol                                 Kr
Name                              Krypton
AtomicMass                           83.8
CPKHexColor                        5CB8D1
ElectronConfiguration    [Ar]4s2 3d10 4p6
Electronegativity                     3.0
AtomicRadius                        202.0
IonizationEnergy                     14.0
ElectronAffinity                      NaN
OxidationStates                         0
StandardState                         Gas
MeltingPoint                       115.79
BoilingPoint                       119.93
Density                          0.003733
GroupBlock                      Noble gas
YearDiscovered                       1898
Name: 35, dtype: object

In [16]:
periodic_data.iloc[35,:3]

AtomicNumber         36
Symbol               Kr
Name            Krypton
Name: 35, dtype: object

In [17]:
periodic_data.iloc[35:45,:3]

    AtomicNumber Symbol        Name
35            36     Kr     Krypton
36            37     Rb    Rubidium
37            38     Sr   Strontium
38            39      Y     Yttrium
39            40     Zr   Zirconium
40            41     Nb     Niobium
41            42     Mo  Molybdenum
42            43     Tc  Technetium
43            44     Ru   Ruthenium
44            45     Rh     Rhodium

In [19]:
# Use the iloc function to:
# 1. Select the 5th row
# 2. Select row 30 to the end and the first three columns.
# 3. Select row 50 to the end and every other row and columns 2 through 4

periodic_data.iloc[5]

AtomicNumber                       6
Symbol                             C
Name                          Carbon
AtomicMass                    12.011
CPKHexColor                   909090
ElectronConfiguration    [He]2s2 2p2
Electronegativity               2.55
AtomicRadius                   170.0
IonizationEnergy               11.26
ElectronAffinity               1.263
OxidationStates           +4, +2, -4
StandardState                  Solid
MeltingPoint                  3823.0
BoilingPoint                  4098.0
Density                        2.267
GroupBlock                  Nonmetal
YearDiscovered               Ancient
Name: 5, dtype: object

In [20]:
periodic_data.iloc[30:,0:3]

     AtomicNumber Symbol         Name
30             31     Ga      Gallium
31             32     Ge    Germanium
32             33     As      Arsenic
33             34     Se     Selenium
34             35     Br      Bromine
..            ...    ...          ...
113           114     Fl    Flerovium
114           115     Mc    Moscovium
115           116     Lv  Livermorium
116           117     Ts   Tennessine
117           118     Og    Oganesson

[88 rows x 3 columns]

In [23]:
periodic_data.iloc[50::2,2:4]
# [starting row/column:endingrow/column:how many to skip]

             Name  AtomicMass
50       Antimony  121.760000
52         Iodine  126.904500
54         Cesium  132.905452
56      Lanthanum  138.905500
58   Praseodymium  140.907700
60     Promethium  144.912760
62       Europium  151.960000
64        Terbium  158.925350
66        Holmium  164.930330
68        Thulium  168.934220
70       Lutetium  174.967000
72       Tantalum  180.947900
74        Rhenium  186.210000
76        Iridium  192.220000
78           Gold  196.966570
80       Thallium  204.383000
82        Bismuth  208.980400
84       Astatine  209.987150
86       Francium  223.019730
88       Actinium  227.027750
90   Protactinium  231.035900
92      Neptunium  237.048170
94      Americium  243.061380
96      Berkelium  247.070310
98    Einsteinium  252.083000
100   Mendelevium  258.098430
102    Lawrencium  266.120000
104       Dubnium  268.126000
106       Bohrium  270.133000
108    Meitnerium  277.154000
110   Roentgenium  282.169000
112      Nihonium  286.182000
114     Moscovium  290.196000
116    Tennessine  294.211000

In [24]:
# will list column names
periodic_data.columns

Index(['AtomicNumber', 'Symbol', 'Name', 'AtomicMass', 'CPKHexColor',
       'ElectronConfiguration', 'Electronegativity', 'AtomicRadius',
       'IonizationEnergy', 'ElectronAffinity', 'OxidationStates',
       'StandardState', 'MeltingPoint', 'BoilingPoint', 'Density',
       'GroupBlock', 'YearDiscovered'],
      dtype='object')

In [25]:
periodic_data["AtomicMass"]

0        1.008000
1        4.002600
2        7.000000
3        9.012183
4       10.810000
          ...
113    290.192000
114    290.196000
115    293.205000
116    294.211000
117    295.216000
Name: AtomicMass, Length: 118, dtype: float64

In [30]:
periodic_data[["AtomicMass","Symbol"]]

     AtomicMass Symbol
0      1.008000      H
1      4.002600     He
2      7.000000     Li
3      9.012183     Be
4     10.810000      B
..          ...    ...
113  290.192000     Fl
114  290.196000     Mc
115  293.205000     Lv
116  294.211000     Ts
117  295.216000     Og

[118 rows x 2 columns]

In [34]:
# Third way to get information from dataframes - loc function
# loc functions lets us use column and row names

periodic_data.loc[35, "Symbol"]

'Kr'

In [36]:
periodic_data["BoilingPoint"] - 273.15

0      -252.87
1      -268.93
2      1341.85
3      2470.85
4      3999.85
        ...
113        NaN
114        NaN
115        NaN
116        NaN
117        NaN
Name: BoilingPoint, Length: 118, dtype: float64

In [37]:
periodic_data["BoilingPointC"] = periodic_data["BoilingPoint"] - 273.15

In [38]:
periodic_data.head()

,AtomicNumber,Symbol,Name,AtomicMass,CPKHexColor,ElectronConfiguration,Electronegativity,AtomicRadius,IonizationEnergy,ElectronAffinity,OxidationStates,StandardState,MeltingPoint,BoilingPoint,Density,GroupBlock,YearDiscovered,BoilingPointC
0,1,H,Hydrogen,1.008000,FFFFFF,1s1,2.20,120.0,13.598,0.754,"+1, -1",Gas,13.81,20.28,0.000090,Nonmetal,1766,-252.87
1,2,He,Helium,4.002600,D9FFFF,1s2,NaN,140.0,24.587,NaN,0,Gas,0.95,4.22,0.000179,Noble gas,1868,-268.93
2,3,Li,Lithium,7.000000,CC80FF,[He]2s1,0.98,182.0,5.392,0.618,+1,Solid,453.65,1615.00,0.534000,Alkali metal,1817,1341.85
3,4,Be,Beryllium,9.012183,C2FF00,[He]2s2,1.57,153.0,9.323,NaN,+2,Solid,1560.00,2744.00,1.850000,Alkaline earth metal,1798,2470.85
4,5,B,Boron,10.810000,FFB5B5,[He]2s2 2p1,2.04,192.0,8.298,0.277,+3,Solid,2348.00,4273.00,2.370000,Metalloid,1808,3999.85

In [39]:
# Save new dataframe:
periodic_data.to_csv("periodic_table_processed.csv")